# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=https://thdiezyiyabarucqetox.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xo_MKWRVCJxa_MvnMjPPsg_koEyowg9

# Vercel Blob configuration
BLOB_READ_WRITE_TOKEN=your-vercel-blob-read-write-token
